<div id="banner" class="container-fluid">
    <div id="carrosel" class="row col-10">
        <div id="demo" class="carousel slide" data-ride="carousel">


            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
        
            </ul>


            <div id="carro1" class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-thumbnail" src="../../../../assets/images/banner_bancoperucas.jpg" alt="Banner wigs 1" width="100%">
                </div>
            
            </div>
        </div>
    </div>
</div>
