<header>
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand" routerLink="/home">
          <img class="img-responsive" src="../../../assets/images/logo.png" alt="LogoPrincipal" width="150px">
          </a>
        <div class="continuar-cp">
          <div>
            <a routerLink="/home"><button class="btn btn-outline-light" type="submit">Continuar
              comprando</button></a>
          </div>
        </div>
      </nav>
  </div>
  </header>

