<div id="carrossel" class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="fotoFixa">
            <div class="text-center">
                <div class="carousel-item active">
                    <img class="d-flex" [src]="primeiraImagem.local" class="fotos">
                </div>
                <div *ngFor="let imagem of imagens" class="carousel-item">
                    <img class="d-flex" [src]="imagem.local" class="fotos">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icone-anterior-carousel" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon icone-proximo-carousel" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>