<nav class="row nav-header">
    <div class="col-md-2">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/logoWig.png" alt="LogoPrincipal" width="200px">
        </a>
    </div>


    <div class="d-flex justify-content-end align-items-center col-md-10 carrinho-login">
        
            <div class="acessar" data-display="static" aria-haspopup="true" routerLink="/checkout" aria-expanded="false">
                <button class="btn btn-outline-dark">Continuar comprando</button>
            </div>
    </div>

</nav>