<header>

    <div class="row container">
        <div class="col-xs-12">
            <div class="logo">
                <img id="imgLogo" class="img-responsive" src="../../../assets/img/logo.png" width="400px" alt="logo" title="Wig's House">
            </div>
        </div>
    </div>



    <div class="row container-fluid">
        <div class="col-xs-6">
            <a routerLink="/login">
                <img class="login" src="../../../assets/img/images.png" alt="login">
                <p id="login" class="caption">Login</p>
            </a>
        </div>
        <div class="col-xs-6">
            <a routerLink="/checkout">
                <img class="carrinho" src="../../../assets/img/carrinho.png" alt="carrinho">
                <p id="carrinho" class="caption">Carrinho</p>
            </a>
        </div>
    </div>


    <div id="navbar" class="container-fluid bg-info">
        <ul class="nav justify-content-end col-xs-12">
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Lisos</button>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Cacheados</button>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Crespos</button>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Ondulados</button>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Naturais</button>
            </li>
            <li class="nav-item col-lg-2 col-md-3 col-xs-12">
                <button class="botao btn btn-basic nav-link" href="#">Cosplay</button>
            </li>
        </ul>
    </div>


    <div id="navbarR" class="row container-fluid">
        <nav id="menu" class="navbar navbar-expand-md bg-light navbar-light">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav col-md-12 col-xs-12">
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Lisos</button>
                    </li>
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Cacheados</button>
                    </li>
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Crespos</button>
                    </li>
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Ondulados</button>
                    </li>
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Naturais</button>
                    </li>
                    <li class="nav-item col-lg-2 col-xs-12">
                        <button class="botao btn btn-basic nav-link" href="#">Cosplay</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


<main>
<div class="container-fluid">
    <div class="row mt-4 bg-info text-light justify-content-center">
        <strong class="secao">
            Conheça nossos produtos :
        </strong></div>
</div>

<!-- Cards em telas grandes -->
<section id="telaGrande">
    <div id="produtosTela" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Cabelos lisos :
            </strong></div>
    </div>

    <div id="lisos" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Cabelos cacheados :
            </strong></div>
    </div>

    <div id="cacheados" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Cabelos crespos :
            </strong></div>
    </div>

    <div id="crespos" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Cabelos Ondulados :
            </strong></div>
    </div>

    <div id="ondulados" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Nossos produtos com fios naturais :
            </strong></div>
    </div>

    <div id="natural" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secao">
                Confira nossa seção cosplay :
            </strong></div>
    </div>

    <div id="cosplay" class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="p-8">
                <button id="mais" type="submit" class="btn btn-info">Ver Todos</button>
            </div>
        </div>
    </div>
</section>

<!-- Cards em telas pequenas -->
<section id="mobile">

    <div id="mob" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>


<div class="container-fluid">
    <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Cabelos lisos :
            </strong></div>
    </div>

    <div id="lisos" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Cabelos cacheados:
            </strong></div>
    </div>

    <div id="cacheados" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>

<div class="container-fluid">
    <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Cabelos crespos:
            </strong></div>
    </div>

    <div id="crespos" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Cabelos ondulados :
            </strong></div>
    </div>

    <div id="ondulados" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Nossos produtos com fios naturais:
            </strong></div>
    </div>

    <div id="natural" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4 bg-info text-light justify-content-center">
            <strong class="secaoMob">
                Confira nossa seção cosplay :
            </strong></div>
    </div>

    <div id="cosplay" class="container-fluid">
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Peruca ...</h4>
                        <p class="card-text">Descrição Resumida</p>
                        <a href="#" class="btn btn-info">Ver Produto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="p-8">
            <button id="maisMob" type="submit" class="btn btn-info">Ver Todos</button>
        </div>
    </div>


</section>
</main>


<app-footer></app-footer>