app-grupos {
    box-shadow: 1px 2px 10px black;
    width: 15vw;
    height: 100vh;
    background-color: rgb(202, 202, 202);
}

app-lista-de-produtos {
    border: 6px double black;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    padding: 2px;
    margin: 4px;
    background-color: rgb(213, 216, 216);
}