body{
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: inline-block;
    text-align: center;
       
}
#LogoPrincipal{
    align-items: center;
      margin-top: 5px;
      margin-left: 80px;

}
.button{
    background-color:#006172;
    color: #fff;
    border: none;
    height: 31px;
    cursor: pointer;
}
#form-signin{
    margin-left: 200px;
    color: grey;
    align-items: center;
}
#fotoFixa{
    background-image: url(/screens/images/tentativa2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:600px;
    height:650px;
}
.checkbox{
color: grey;
text-align: center;
}
