body{
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: inline-block;
    text-align: center;
       
}
#LogoPrincipal{
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;

}
.button{
    background-color:#006172;
    color: #fff;
    border: none;
    height: 31px;
    cursor: pointer;
}
#form-signin{
    align-items: center;
    margin-left: 120px;
}
#fotoFixa{
    background-image: url(/screens/images/tentativa2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:600px;
    height:655px;
}
