<footer class="footer">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="">
                <ul>
                    <li class="li-map"><a routerLink="/home">Home</a></li>
                    <li class="li-map"><a routerLink="/quemSomos">Quem Somos</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>
            <div class="text-center">
                <p>© 2020 WH. Todos os direitos reservados</p>
            </div>
            <div class="text-center">
                <img class="LogoRS mr-2 ml-2" src="../../../assets/images/instagram.png" alt="Instagram Wig's">
                <img class="LogoRS mr-2" src="../../../assets/images/facebook.png" alt="Facebook Wig's">
                <img class="LogoRS mr-2" src="../../../assets/images/whatsapp.png" alt="Whatsapp Wig's">
            </div>
        </div>
    </div>
</footer>