<footer class="footer">
    <div class="container ">
        <div class="footer__inner">
            <div class="mb-1 text-center">
                <p>© 2020 WH. Todos os direitos reservados</p>
            </div>
            <div class="d-flex justify-content-between ">
                <div class="">
                    <ul>
                        <li class="li-map"><a href="/direitos-autorais">Home</a></li>
                        <li class="li-map"><a href="/termos-de-uso">Quem somos</a></li>
                        <li><a href="/politica-de-privacidade">Contato</a></li>
                    </ul>
                </div>
                <div class="align-items-center">
                    <img class="LogoRS mr-2 ml-2" src="../../../assets/images/instagram.png" width="30" height="30"
                        alt="Instagram Wig's">
                    <img class="LogoRS mr-2" src="../../../assets/images/facebook.png" width="30" height="30"
                        alt="Facebook Wig's">
                    <img class="LogoRS mr-2" src="../../../assets/images/whatsapp.png" width="30" height="30"
                        alt="Whatsapp Wig's">
                </div>
            </div>
        </div>
    </div>
</footer>