<footer class="footer">
    <div class="container">
        <div id="footerContent" class="d-flex align-items-center justify-content-between">

            <div class="paymentForms d-block justify-content-center">
                <p class="text-center">Pagamento:</p>
                <ul class="d-flex justify-content-center">
                    <li class="list-group"><img src="../../../assets/images/payment.webp" width="230px"></li>
                </ul>
            </div>

            <div id="copyright" class="text-center">
                <p>© 2020 WH. Direitos reservados</p>
            </div>

            <div class="pages d-flex justify-content-center">
                <ul>
                    <li class="li-map"><a routerLink="/home">Home</a></li>
                    <li class="li-map"><a routerLink="/quem-somos">Quem Somos</a></li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </div>

            <div id="social" class="text-center">
                <p class="mr-2">Nossas Redes:</p>
                <a target="_blank" href="https://www.instagram.com/wigs_houserd/"> <img class="LogoRS mr-2 ml-2" src="../../../assets/images/instagram.png" alt="Instagram Wig's"> </a>
                <a target="_blank" href="https://www.facebook.com/Wigs-House-108012354166972/?modal=admin_todo_tour"> <img class="LogoRS mr-2" src="../../../assets/images/facebook.png" alt="Facebook Wig's"> </a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5511969575711"><img class="LogoRS mr-2" src="../../../assets/images/whatsapp.png" alt="Whatsapp Wig's"></a>
            </div>
        </div>
    </div>
</footer>