#desc {
    font-size: 1.5rem;
    text-emphasis: weight;
    background-color: rgb(218, 216, 216);
    box-shadow: 1px 1px 10px rgb(99, 97, 97);
}
.card{
    box-shadow: 1px 2px 4px rgb(197, 193, 193);
    background-color: rgb(219, 217, 217);
    height: auto;
    width: auto;
}

#todos {
    display: flex;
    margin-top: 4px;
}

.imagem-produto{
    height: 17vw;
    width: 18vw;
}

#cardsHolder {
    display: flex;
}



@media only screen and (max-width: 768px) {
    
    #cardsHolder {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 50vw;
    }

    #desc {
        text-align: center;
    }

    button {
        width: 70%;
    }
}