<div class="tela">
    <app-header></app-header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 produto">
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <app-carousel-imagens-produto></app-carousel-imagens-produto>
                    </div>
                    <div class="col-md-4">
                        <app-descricao-produto></app-descricao-produto>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                5
            </div>

        </div>
    </div>
</div>