    <header>
      <div class="container-fluid">
        <nav class="navbar navbar-light bg-info">
          <a class="navbar-brand" routerLink="/home">
            <img class="img-responsive" src="../../../assets/images/logo.png" alt="LogoPrincipal" width="150px">
            </a>
          <div class="continuar-cp">
            <div>
              <a routerLink="/home"><button class="btn btn-outline-light" type="submit">Continuar
                comprando</button></a>
            </div>
          </div>
        </nav>
    </div>
    </header>
  
    <main class="container-fluid">
  
      <hr class="featurette-divider">
  
      <div id="textoSobre" class="row featurette">
        <div class="jumbotron col-md-7">
          <h2 class="featurette-heading">Sobre o Projeto: <span class="text-muted"> Wig's House</span></h2>
          <p class="lead">Este é o projeto integrador do curso de Desenvolvedor full stack da digital house, e Treinamento
            RD.</p>
          <p class="lead">A wig's House é uma loja virtual para compras de pirucas de todas as cores, tipos e tamanhos.
          </p>
          <p class="lead">Nesse projeto tentamos trazer tanto o lado da compra de uma peruca estilizada e moderna, como a
            opção de doações de cabelos naturais para uma instituição de caridade, que a Wig's ajuda!</p>
        </div>

        <div class="col-md-5">
          <div id="fotoFixa">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 h-700" src="../../../assets/img/produtos - perucas/000 - frente.jpg" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 h-700" src="../../../assets/img/produtos - perucas/001 - lateral.jpg" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 h-700" src="../../../assets/img/produtos - perucas/004 - frente.jpg" alt="Terceiro Slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span id="prev" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span id="next" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
          </div>  
        </div>

      </div>
  
      <hr class="featurette-divider">
  
      <div class="container-fluid">
        <div id="tituloApresentacao">
          <h2 class="featurette-heading">Quem somos: <span class="text-muted"> Apresentação da equipe</span></h2>
        </div>
        <div class="row">
          <!-- Seções de conteudo -->
          
          <div id="apresentacao" class="col-lg-2">
            <img class="rounded-circle"
              src="../../../assets/images/logo.png"
              alt="Generic placeholder image" width="180" height="180">
            <h2>César</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit.</p>
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalExemplo">
              Abrir
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="apresentacao" class="col-lg-2">
            <img class="rounded-circle"
              src="../../../assets/images/logo.png"
              alt="Generic placeholder image" width="180" height="180">
            <h2>Daniel</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit.</p>
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalExemplo">
              Abrir
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="apresentacao" class="col-lg-2">
            <img class="rounded-circle"
              src="../../../assets/images/logo.png"
              alt="Generic placeholder image" width="180" height="180" margin-top="5px">
            <h2>Gabriel</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit.</p>
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalExemplo">
              Abrir 
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="apresentacao" class="col-lg-2">
            <img class="rounded-circle"
              src="../../../assets/images/logo.png"
              alt="Generic placeholder image" width="180" height="180">
            <h2>Michelle</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit.</p>
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalExemplo">
              Abrir
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="apresentacao" class="col-lg-2">
            <img class="rounded-circle"
              src="../../../assets/images/logo.png"
              alt="Generic placeholder image" width="180" height="180">
            <h2>Vitor</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit.</p>
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalExemplo">
              Abrir
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <hr>

    <app-footer></app-footer>
  
