.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgba(173, 170, 177, 0.671); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
    font-size: 30px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.txtBusca{
    float:left;
    padding-left:10px;
    font-style:italic;
    border:black 1px solid;
    border-radius: 5px;
    height:36px;
    width:230px;
}

#btnBusca{
    background-color: transparent;
    border: none;
}

#btnBusca:hover{
    opacity: 0.4;
}

.searchImg{
    width: 0.8vw;
    position: absolute;
    left: 45%;
    
}
nav.row{
    margin: 0;
}

.acessar {
    cursor: pointer;
}

.acessar-carrinho{
    margin-right: 1.3vw;
}

#busca {
    display: none;
}

#buscaResp {
    position: relative;
    left: -250px;
}

#imgLogo {
    position: relative;
    top: 0vh;
    left: -17vw;
    height: auto;
}


@media only screen and (max-width: 767px) {
    #buscar {
        width: 50vw !important;
    }

    #buscaResp {
        display: none;
    }

    #busca {
        display: flex;
        justify-content: center;
    }
    

    .carrinho-login {
        position: absolute;
        right: 20vw;
        top: 3vh;
        width: 0.6vw;
    }

    #imgLogo {
        position: absolute;
        top: 0vh;
        right: 30vw;
        width: auto;
    }

    #div-pesquisa {
        margin-top: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
    } 

    #divbusca {
        width: 100%
    }

    .openbtn {
        z-index: 999;
    }
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}  

@media only screen and (max-width: 285px){
    .carrinho-login {
        position: relative;
    }
}

.nav-header{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 1px 2px;
}

.aparecer{
    display: block;
}

.esconder{
    display: none;
}

.pointer{
    cursor: pointer;
}

.quantidade-itens-carrinho{
    position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    margin-left: 23px;
    margin-top: -1px;
}