<div class="container-fluid">
    <div class="row ">
        <div class="col">
            <img id="fotoFixa" src="../../../assets/images/imagem-show.jpg" alt="Imagem principal">
        </div>
        <div class="col">
            <div id="loginFunc">
            </div>
            <header id="LogoPrincipal">
                <a href="/home"><img src="../../../assets/images/logoWig.png" alt="LogoPrincipal" width="350px"></a>
            </header>
           
            <form id="form-signinFunc">
                <img class="mb-4" src="#" alt="" width="40" height="30">
                <h1 class="h3 mb-3 font-weight-normal text-center">Faça seu login</h1>

                <label  for="inputMatricula">Endereço de email:</label>
                <input type="number" class="form-control mb-2" placeholder="Sua matricula" required autofocus=""
                    formControlName="matricula">

                <label for="inputPassword">Senha:</label>
                <input type="password" class="form-control" placeholder="Senha" required minlength="4" maxlength="8"
                    formControlName="senhaFunc">
            </form>
        </div>
    </div>
</div>