#carro1 {
    width: 97.5%;
    margin-bottom: 10px; 
}

#demo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-thumbnail{
    width: 100vw;
}

#carrosel {
    margin-top: 115px;
}

@media only screen and (max-width: 760px) {
    
    #carrosel {
        margin-top: 150px;
    }
}
