<div class="container-fluid">
    <div id="storage" class="container">
        <form class="col formulario" [formGroup]=" formCadProd" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="number" class="form-control" formControlName="qtdProduto"
                    placeholder="Quantidade" required>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <input type="text" class="form-control"
                        formControlName="descProduto" placeholder="Descrição do produto" required>
                </div>
                <div class="col-6">
                    <input type="number" class="form-control"
                        formControlName="valorProduto" placeholder="Valor do produto" required>
                </div>
            </div>
            <div>
                <span *ngIf="imagensUpload.length > 0"><strong>Imagens  adicionadas:</strong></span>
                <span *ngFor="let img of imagensUpload">{{img.name}}<br></span>
            </div>
            <input #imagem type="file" multiple (change)="handleFileInput($event.target.files)">
            <div class="form-group row">
                <select class="form-control" name="estado" formControlName="categoria">
                    <option value="" selected disabled>Categoria</option>
                    <option *ngFor="let cat of categorias" [ngValue]="cat">{{cat.descricao}} </option>
                </select>
            </div>
            <button class="btn btn-lg btn-info btn-block mb-3" id="btn-cadastrar">Cadastrar</button>
        </form>
        <div>
        <ul > Selecione o produto
            <li *ngFor="let produto of produtos">{{produto.descricao}} - {{produto.codProduto}} </li>
        </ul>
        </div>
    </div>
</div>