
<div id="produtos" class="row container-fluid d-flex justify-content-center">
    <div *ngFor="let produto of produtosVisiveis" class="d-flex col-md-3 col-xs-12 m-1">
        <div class="card">
            <div class="text-center">
                <img [src]="produto.imagens[0].local" class="imagem-produto">
            </div>
            <div class="card-body">
                
                <h5>{{produto.descricao}}</h5>
                <p class="card-text"> {{produto.categoria.descricao}} <br>
                    R$ {{produto.valorProduto}} <br>
                </p>
                <a (click)="abrirPaginaProduto(produto.codProduto)" class="btn btn-dark text-white">Comprar</a>
            </div>
        </div>
    </div>
</div>
