<div class="container d-flex justify-content-end">
    <label class="mt-2 mr-3">Ordenar por:</label>
    <select (change)="ordenarPor()" [(ngModel)]="ordenacao">
        <option value="1">Padrão</option>
        <option value="2">Menor preço</option>
        <option value="3">Maior preço</option>
        <option value="4">A - Z</option>
        <option value="5">Z - A</option>
    </select>
</div>
<div id="produtos" class="container d-flex justify-content-center">
    <div *ngFor="let produto of produtosFiltrados" 
        class="d-flex col-md-3 col-xs-12">
        <div class="card">
            <div class="text-center">
                <img [src]="produto.imagens[0].local" class="imagem-produto">
            </div>
            <div class="card-body">

                <h5>{{produto.descricao}}</h5>
                <p class="card-text"> {{produto.categoria.descricao}} <br>
                    R$ {{produto.valorProduto}} <br>
                </p>
                <a (click)="abrirPaginaProduto(produto.codProduto)" class="btn btn-dark text-white">Comprar</a>
            </div>
        </div>
    </div>
    <div class="mt-4 alert alert-info" role="alert" *ngIf="produtosFiltrados.length == 0">
        <span class="sem-produtos">
            Sua pesquisa não retornou nenhum produto...
        </span>
    </div>
</div>