.produto {
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    font-size: 10px;
    width: 20px;
    height: 20px;
}

.ocultar{
    display: none;
}

.mostrar{
    cursor: pointer;
}