<div class="border mt-2 p-2 mb-2">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Qtd</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carrinho">
                <th scope="row">{{item.produto.descricao}}</th>
                <th>R$ {{item.produto.valorProduto}}</th>
                <th>
                    {{item.quantidade}}
                </th>
            </tr>
        </tbody>
    </table>
    <div class="d-flex flex-row-reverse">
        <h5 class="p-2">Subtotal {{subTotal.toLocaleString('pt-BR', formato)}}</h5>
    </div>
    <div class="d-flex flex-row-reverse">
        <h5 class="p-2">Frete {{frete.toLocaleString('pt-BR', formato)}}</h5>
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="abrirModal(modalCupom)">Ative o cupom</button>
        <h5 class="p-2" *ngIf="cupomAtivo == null">Cupom {{valorCupom.toLocaleString('pt-BR', formato)}}</h5>
        <h5 class="p-2" *ngIf="cupomAtivo != null">Cupom {{(subTotal * (cupomAtivo.desconto / -100)).toLocaleString('pt-BR', formato)}}</h5>
    </div>
</div>

<ng-template #modalCupom>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Digite um cupom válido</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngFor="let cupom of cupons" (click)="mandarCupom(cupom)"  class="alert alert-success" [class]="cupom.ativo ? 'mostrar' : 'ocultar'" (click)="adicionarCupom(cupom)">
        <h5>{{cupom.nome}}</h5>
        <span>Desconto {{cupom.desconto}}%</span><br>
        <span>Total do desconto {{(subTotal * (cupom.desconto / 100)).toLocaleString('pt-BR', formato)}}</span>
        <div class="d-flex justify-content-end">
            <img src="../../../../assets/images/desconto.svg" alt="" width="40px">
        </div>
    </div>
</ng-template>