<div class="d-flex justify-content-center mt-1">
    <h1 class="ml-2">Resumo das informações.</h1>
</div>

<!-- <div class="d-flex m-2">
    <p-chart type="bar" [data]="dataProd" width="25vw" height="40vh"></p-chart>
    <p-chart type="bar" [data]="dataPed" width="25vw" height="40vh"></p-chart>
    <p-chart type="bar" [data]="dataCupons" width="25vw" height="40vh"></p-chart>
</div> -->
<div class="divs d-flex justify-content-center mt-3">
    <div class="jumbotron ml-3 text-center">
        <strong>Total de Produtos cadastrados:</strong>
        <h1 class="qtd">{{produtos.length}}</h1>
    </div>
    <div class="jumbotron ml-3 text-center">
        <strong>Total de Cupons cadastrados:</strong>
        <h1 class="qtd">{{cupons.length}}</h1>
    </div>
    <div class="jumbotron ml-3 text-center">
        <strong>Total de pedidos cadastrados:</strong>
        <h1 class="qtd">{{pedido.length}}</h1>
    </div>

    
</div>
