<header class="panel-heading ng-scope">
    <h3 class="panel-title ng-binding">Endereço de entrega</h3>
</header>
<div class="ng-scope">
    <div class="panel-body">
        <div class="ng-scope">
            <dl class="placeholder-list">
                <dt class="ng-binding ng-scope">Juliana Silva de Aragão</dt>
                <dd class="ng-binding">{{endereco.rua}}, {{endereco.numero}}</dd>
                <dd class="ng-binding">{{endereco.bairro}}</dd>
                <dd class="ng-binding">{{endereco.cidade}} - {{endereco.estado}}</dd>
                <dd class="ng-binding">CEP {{endereco.cep}}</dd>
            </dl>
            <div class="ng-scope">
                <div>
                    <a class="cursor-pointer text-center display-xs-block link-default text-to-lower">
                        <span class="ng-binding">Alterar endereço de entrega</span>
                    </a>
                </div>
                <div>
                    <a class="cursor-pointer text-center display-xs-block link-default text-to-lower">
                        <span class="ng-binding">Receber informações de entrega</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>