<div id="cards" class="container-fluid d-flex justify-content-center">
    <div  class="jumbotron col-10 d-block">
        <h1>Doe agora e faça uma criança sorrir !</h1>
        <h6>A doação possui um valor fixo de 49,90 , e por esse valor será doada a peruca de escolha da criança</h6>
        <button id="doar" class="btn btn-success" routerLink="/checkout-doacao">
            <img class="mr-1" src="../../../../assets/images/doar.png" width="25px"> Quero Doar !
        </button>
    </div>
</div>

    

