<div class="container-fluid d-flex justify-content-center">
<div id="cards" class="jumbotron col-10">
    <div class="card ml-3 col-md-3 col-xs-12" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/checkout-doacao" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
    </div>
    <div class="card ml-3 col-md-3 col-xs-12" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/checkout-doacao" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
    </div>
    <div class="card ml-3 col-md-3 col-xs-12" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/checkout-doacao" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
    </div>
</div>
</div>

    

