<div id="cards" class="jumbotron d-flex col-10 justify-content-center">
    <div id="carrossel-doacao" class="card ml-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/carrinho" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
    </div>
    <div id="carrossel-doacao" class="card ml-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/carrinho" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
    </div>
    <div id="carrossel-doacao" class="card ml-3" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Peruca Loira Long Bob</h5>
            <p class="card-text"><strong>R$ 49,90</strong></p>
            <a href="#" routerLink="/carrinho" class="btn btn-primary">Quero Doar!</a>
            <img class="ml-3" src="../../../../assets/images/cupom.svg" width="30px" alt="Produto com Desconto" title="Desconto">
        </div>
      
    </div>
    </div>


    

