body {
    display: flex;
}
.login,
.carrinho {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 50px;
}

.carrinho {
    right: 105px;
}

#carrinho {
    position: absolute;
    top: 55px;
    right: 110px;
    width: 50px;
    text-decoration: none;
    color: black;
}

#login {
    position: absolute;
    top: 55px;
    right: 35px;
    width: 50px;
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 214, 214);
    box-shadow: black 1px 2px 10px;
    width: 97vw;
}
.logo {
    width: 100%;
    height: 20vh;
    position: relative;
}
#navbarR {
    display: none;
}

#fotoFixa{
    position: relative;
    justify-content: start;
    margin-top: 50px;
    height: 700px;
    width: 500px;
   
}
.Rota{
color: grey;
margin-top: 20px;

}

#tituloProduto,
#descProduto {
    color: grey;
    text-align: center;
    padding: 10px;
    margin: 20px;
   font-size: 20px;
   
   
}
 .texto{
     width: 100%;
     display: flex;
     justify-content: center;
 }


 #precoDe {
     font-size: 20px;
     text-align: center;
     text-decoration: line-through;
 }

 #precoPor {
     font-size: 40px;
     text-align: center;
 }

 .carousel-control-prev:hover,
 .carousel-control-next:hover {
     background-color: rgb(161, 157, 157);
     opacity: 0.1;
 }

 #divFrete {
     border-left: 1px solid rgb(189, 187, 187);
 }

 footer {
    position: relative;
    bottom: 0px;
    padding: 25px;
    margin-top: 10px;
    width: 100%;
}

#institucional {
    display: flex;
    justify-content: center;
    width: 97vw;
}

#foot {
    margin-left: 20px;
}


@media only screen and (max-width: 768px) {
    .login,
.carrinho {
    display: block;
    position: absolute;
    width: 50px;
    top: 5vh;
    right: 10px;
}


}
