<div class="border">
    <div class="productTable">
        <table class="table table-striped text-center overflow-auto">
            <thead class="bg-info text-light">
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Doação á </th>
                    <th>R$ 49,90</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-row-reverse">
        <h5 class="p-2">Subtotal 49,90</h5>
    </div>

</div>
