<div class="container row col-8">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Acompanhe seus pedidos</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="linha-do-tempo">
                                <div class="marcador"></div>
                                <li class="ano">
                                    <p>Pedidos Entregue:</p>
                                </li>

                                <li class='item' href="#">
                                    <p>Segundo Item da linha do tempo, pode incluir qualquer coisa aqui, desde imagens,
                                        a frames, é totalmente responsivo. </p>
                                </li>

                                <li class="ano">
                                    <p>Pedidos Cancelados:</p>
                                </li>

                                <li class='item' href="#">
                                    <p>Primeiro Item da linha do tempo, pode incluir qualquer coisa aqui, desde imagens,
                                        a frames, é totalmente responsivo.</p>
                                </li>

                                <li class='item' href="#">
                                    <p>Segundo Item da linha do tempo, pode incluir qualquer coisa aqui, desde imagens,
                                        a frames, é totalmente responsivo.</p>
                                </li>
                            </ul>
                            <hr>
                            <a class="row botao">
                                <button type="button" class="btn btn-danger">Cancelar Pedido</button>
                                <button type="button" class="btn btn-info">Acompanhar Entrega</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>