
* {
  text-align: center;
}

.container {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-radius: 1px;
  outline: none;
  transition: 0.4s;
  align-items: center;
}
.botao{
  display: flex;
  justify-content: center;

} 

p{
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.entrega{
  display:flex;
  justify-content: center;
  align-items: center;

}

.modal-body{
  border-right: grey;
  text-align: start;
  height: 10%;
  border-right: black;
}

@font-face {font-family : "'Abel'";font-style : normal;font-weight : 400;
    src : local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/N59kklKPso9WzbZH9jwJSg.ttf) format('truetype');}
    body {background-color:rgb(239, 212, 38);font-family : "'Abel'";}
    body::-webkit-scrollbar-track{background-color: #f9f0d3;}
    body::-webkit-scrollbar{width: 1%;}
    body::-webkit-scrollbar-thumb{background-color: #f9f0d3; border-left: 2px solid #454545;}
    ul li { list-style:none;}
    .linha-do-tempo {
    position: relative;
    max-width: 1024px;height: auto;
    padding: 0px;margin: 0px auto;
    overflow: hidden;}
    .marcador {
    width: 50%;float: left;
    height: 100%;position: absolute;
    z-index: -1;border-right: 2px dashed rgb(247, 237, 160);box-sizing: border-box;} 
    .ano {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    color: #f0f0f0;
    background-color: rgb(45, 158, 173);background-image: -webkit-linear-gradient(140deg,
    rgba(255, 255, 255, .2) 50%,
    transparent 50%,
    transparent);
    text-align: center;
    margin-top:  7%;
    margin: 1% auto;
    clear: both;}
    .item {
      width: 44%;
      margin: 4% 0.5%;
      padding: 1%;
      float: right;}
    .item:nth-of-type(2n) {
      float: left; 
       margin: 4% 0.5%;
      padding: 1%;}
    .item p {
      color:rgb(66, 65, 60);
      text-align: center;}
    .item p a {
      color: #e44b4b;
      text-align: center;}
    @media all and (max-width: 650px) {
    .item {width: 80%;}}