<div class="container col-8">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Acompanhe seus pedidos</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" *ngFor="let pedido of pedidos">
                            <ul class="linha-do-tempo">
                                <div class="marcador"></div>
                                <li class="ano">
                                    <p>{{pedido.status.descricao}}</p>
                                </li>
                                <li class='item' href="#">
                                    <p><Strong>N° Pedido {{pedido.codPedido}}</Strong> </p>
                                    <p><strong>Realizado em: {{pedido.dtPedido | date:"dd/MM/yyyy"}}</strong></p>
                                </li>
                                <li class='item' href="#">
                                    <p><strong>Total: {{pedido.vlPedido.toLocaleString('pt-BR', formato)}}</strong></p>
                                    <p *ngIf="pedido.status.cod_status != 2 && pedido.status.cod_status != 3"><strong>Previsão de entrega: {{dataEntrega(pedido) | date:"dd/MM/yyyy"}} </strong></p>
                                </li>
                            </ul>
                            <a class="row botao">
                                <button class="entrega" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modalExemplo">
                                    Acompanhar Entrega
                                </button>
                                <button type="button" class="btn btn-danger">Cancelar Pedido</button>
                            </a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

