<div class="container col-8">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Acompanhe seus pedidos</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" *ngFor="let pedido of pedidos">
                            <ul class="linha-do-tempo">
                                <div class="marcador"></div>
                                <li class="ano">
                                    <p>{{pedido.status.descricao}}</p>
                                </li>
                                <li class='item' href="#">
                                    <p><Strong>N° Pedido {{pedido.codPedido}}</Strong> </p>
                                    <p><strong>Realizado em: {{pedido.dtPedido | date:"dd/MM/yyyy"}}</strong></p>
                                </li>
                                <li class='item' href="#">
                                    <p><strong>Total: {{pedido.vlPedido.toLocaleString('pt-BR', formato)}}</strong></p>
                                    <p *ngIf="pedido.status.cod_status != 4 && pedido.status.cod_status != 3"><strong>Previsão de entrega: {{dataEntrega(pedido) | date:"dd/MM/yyyy"}} </strong></p>
                                    <p *ngIf="pedido.status.cod_status == 4"><strong>Produto entregue em: {{pedido.dataEntrega | date:"dd/MM/yyyy"}} </strong></p>
                                </li>
                            </ul>
                            <a class="row botao">
                                <button class="entrega" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modalExemplo" (click)="abrirModalDetalhes(detalhesPedidos, pedido)">
                                    Detalhes do pedido
                                </button>
                                <button type="button" (click)="abrirModal(cancelarPedido, pedido)" class="btn btn-danger" *ngIf="pedido.status.cod_status != 4 && pedido.status.cod_status != 3">Cancelar Pedido</button>
                            </a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #cancelarPedido>
    <div class="cancelar-pedido d-flex flex-column">
        <div class="card ng-scope text-center sticky-top">
            <h5 class="card-header">Cancelar Pedido</h5>
        </div>
        <span> Deseja realmente cancelar seu pedido? </span>
        <div class="text-center mt-2 mb-3">
            <button class="btn btn-danger" (click)="cancelarPedidoFuncao()">Sim</button>
            <button class="btn btn-success" (click)="modalRef.hide();">Não</button>
        </div>
    </div>
</ng-template>

<ng-template #detalhesPedidos>
    <div class="detalhes-pedido">
        <div class="card ng-scope text-center sticky-top">
            <h5 class="card-header">Pedido nº {{detPedido.codPedido}}</h5>
        </div>
        <app-detalhes-pedido [pedido]="detPedido"></app-detalhes-pedido>
        <app-endereco [endereco]="enderecoPedido"></app-endereco>
    </div>
</ng-template>