<div id="textoSobre" class="row featurette">
    <div class="jumbotron">
        <h2 class="featurette-heading">Sobre o Projeto: <span class="text-muted"> Wig's House</span></h2>
        <p class="lead">Projeto integrador do curso de Desenvolvedor full stack da digital house, e Treinamento quero ser dev da
            RD.</p>
        <p class="lead"> Nosso projeto é uma loja virtual de perucas. Nesse projeto tentamos trazer tanto o lado da compra de uma peruca estilizada e moderna, como a
            opção de doações de cabelos naturais para uma instituição de caridade, que a Wig's ajuda!</p>
        <p class="lead">A wig's House é uma loja virtual para compras de pirucas de todas as cores, tipos e tamanhos.</p>
                
    </div>
</div>