<div id="textoSobre" class="row featurette">
    <div class="jumbotron">
        <h2 class="featurette-heading">Sobre o Projeto: <span class="text-muted"> Wig's House</span></h2>
        <p class="lead">Este é o projeto integrador do curso de Desenvolvedor full stack da RD.</p>
        <p class="lead">A Wig's House é uma loja virtual para compras de perucas de todas as cores, tipos e tamanhos, além de contar com uma linha de perucas exclusivas para agradar o gosto dos clientes.
        </p>
        <p class="lead">Neste projeto trazemos o cenário de compras de perucas estilosas e modernas, como a
            opção de doações de cabelos naturais para uma instituição de caridade.</p>
        <p class="lead"> A Wig's House tem como objetivo cuidar da beleza dos clientes!!</p>
     
    </div>
</div>