<!-- <div class="d-flex">
    <div *ngFor="let item of produtos | produtosFiltro:grupoAtivo">
        <app-produto [produto]="item"></app-produto>
    </div>
</div> -->

<div class="container-fluid d-flex">
    <div *ngFor="let produto of produtosVisiveis" class="d-inline col-3 mt-2">
        <div class="card" style="width: 19vw; height: 400px;">
            <div class="text-center">
                <img [src]="produto.imagens[0].local" class="img-thumbnail" width="230px">
            </div>
            <div class="card-body">
                
                <h5>{{produto.descricao}}</h5>
                <p class="card-text"> {{produto.categoria.descricao}} <br>
                    {{produto.valorProduto}} <br>
                </p>
                <a (click)="abrirPaginaProduto(produto.codProduto)" class="btn btn-dark text-white">Comprar</a>
            </div>
        </div>
    </div>
</div>