<form class="border border-top-0 mt-2 p-4" [formGroup]="formPagamento">
    <div class="form-group">
        <label>Numero do cartão:</label>
        <input class="form-control" type="text" placeholder="Digite o numero do cartão..."
            (keypress)="permitirNumeros($event)" maxlength="19" formControlName="numeroCartao"
            mask="0000 0000 0000 0000">
    </div>
    <div class="form-group row">
        <div class="col-9">
            <label>Data validade:</label>
            <div class="row">
                <div class="col-6 pr-1">
                    <select class="custom-select" formControlName="mesValidade" (change)="verificarValidade()">
                        <option value="" selected disabled hidden>Mês</option>
                        <option *ngFor="let dia of dias" [value]="dia">{{dia}}</option>
                    </select>
                </div>
                <div class="col-6 pl-1">
                    <select class="custom-select" formControlName="anoValidade" (change)="verificarValidade()">
                        <option value="" selected disabled hidden>Ano</option>
                        <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                    </select>
                </div>
            </div>
            <!-- <input class="form-control" type="text" [min]="data" placeholder="Data de Validade"
                formControlName="dataValidade" mask="M0/0000"> -->
        </div>
        <div class="col-3">
            <label>CVV:</label>
            <input class="form-control" type="text" placeholder="..." (keypress)="permitirNumeros($event)" maxlength="3"
                formControlName="cvv">
        </div>
    </div>
    <div class="form-group">
        <label>Nome titular:</label>
        <input class="form-control" type="text" placeholder="Digite um complemento..." maxlength="20"
            (keypress)="permitirLetras($event)" formControlName="nomeTitular">
    </div>
    <div class="form-group">
        <label>CPF do titular:</label>
        <input class="form-control" type="text" placeholder="Digite o CPF do titular..."
            (keypress)="permitirNumeros($event)" maxlength="14" formControlName="cpf" required mask="000.000.000-99">
    </div>
</form>