.card {
    border: black 2px solid;
    height: 100%;
    margin: 6px;
    box-shadow:1px 2px 6px rgb(136, 133, 133);
    border-radius: 6px;
}

h5 {
    border: solid 1px rgb(0, 0, 0);
    background-color: darkgrey;
    height: 90px;
    font-size: 18px;
    border-radius: 6px;
    text-align: center;
}

