<table class="p-0">
    <br>
    <a href="..." class="nav-link active">
        <img src="../../../../assets/images/icone.png" width="35px">
        Dashboard
    </a>
    <hr>
    <a href="..." class="nav-link active" routerLink="/estoque">
        <img src="../../../../assets/images/product.png" width="35px">
        Cadastro de produtos
    </a>
    <hr>
    <a href="..." class="nav-link" routerLink="/cupons">
        <img src="../../../../assets/images/coupon.png" width="35px">
        Cadastro de cupom
    </a>
    <hr>

    <a href="..." class="nav-link" routerLink="/home">
        <img src="../../../../assets/images/contact-us.png" width="35px">
        Painel Fale Conosco

    </a>
    <hr>
    <a href="..." class="nav-link" routerLink="/home">
        <img src="../../../../assets/images/stock.png" width="35px">
        Gerenciar estoque
    </a>
    <hr>
    <a href="..." class="nav-link" routerLink="/home">
        <img src="../../../../assets/images/growth.png" width="35px">
        Relatórios
    </a>
    <hr>
</table>