#card{
    margin-top: 150px;
    text-align: center;
}

#conteudoProduto{
    margin-left: 10px;
    justify-content: space-around;
}

#productTable {
    height: 58vh;
    overflow: auto;
    margin-top: 150px;
    margin-right: 5px;
}

.icon-lixeira{
    width: 4vh;
}

.icon-quantidade{
    width: 4vh;
}

.remover-produto{
    cursor: pointer;
}

#carrinho {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {

    #carrinho {
        display: block;
    }
}