<div id="institucional" class="container-fluid m-3">
    <div class="row jumbotron">
        <div id="text" class="col-md-4 col-xs-12 mb-2">
            <strong>Doe uma peruca:</strong><br>
            <em class="mb-2">Seu gesto pode fazer uma pessoa feliz!</em>
            <button class="btn btn-info text-light" routerLink="/pagina-institucional" type="submit">Saiba mais !</button>
        </div>
        <div class="col-md-8 col-xs-12">
            <img class="img-thumbnail" src="../../../../assets/images/Minibanner_bancoperucas.jpg" alt="Doar" title="Doe seu cabelo">
        </div>
    </div>
</div>