<div id="institucional" class="container-fluid m-3">
    <div class="row jumbotron">
        <div class="col-4">
            <strong>Doe seu Cabelo:</strong><br>
            <em>Seu Cabelo pode fazer uma criança sorrir .</em>
            <button class="btn btn-dark text-light" type="submit">Saiba mais !</button>
        </div>
        <div class="col-8">
            <img class="img-thumbnail" src="../../../assets/img/banner_site_HGWA_doe_cabelo.png" alt="Doar" title="Doe seu cabelo">
        </div>
    </div>
</div>