<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--favicon-->
    <link rel="icon" href="../../../assets/images/wig.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Wig's House - Login</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row ">
            <div class="col">
                <img id="fotoFixa" src="../../../assets/images/tentativa2.jpg" alt="Imagem principal">
            </div>
            <div class="col">
                <div id="login">
                </div>
                <header id="LogoPrincipal">
                    <a href="home.html"><img src="../../../assets/images/logo.png" alt="LogoPrincipal"
                            width="400px"></a>
                </header>
                <form id="form-signin">
                    <img class="mb-4" src="#" alt="" width="40" height="30">
                    <h1 class="h3 mb-3 font-weight-normal">Faça seu login</h1>
                    <label for="inputEmail">Endereço de email:</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" required=""
                        autofocus="">
                    <label for="inputPassword">Senha:</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Lembre de mim
                        </label>
                    </div>
                    <button class="btn btn-lg btn-info btn-block" type="submit">Continuar</button>

                    <div>
                        <a routerLink="/home" id="cadastro">Não é cadastrado ? Cadastre-se agora !</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>

</html>