<div class="container-fluid">
    <div class="row ">
        <div class="col">
            <img id="fotoFixa" src="../../../assets/images/imagem-show.jpg" alt="Imagem principal">
        </div>
        <div class="col">
            <header id="LogoPrincipal" class="d-flex justify-content-center">
                <a routerLink="/home"><img src="../../../assets/images/logoWig.png" alt="LogoPrincipal" width="350px"></a>
            </header>
            <form id="form-signin" (ngSubmit)="login()" [formGroup]="formLogin">
                <h1 class="h3 mb-3 font-weight-normal text-center">Faça seu login</h1>

                <span class="ui-float-label">
                    <input id="Email" type="email" pInputText class="form-control mb-3" required minlength="15"
                    maxlength="35" autofocus="" formControlName="email">
                    <label for="Email">Email</label>
                </span>
                <span class="ui-float-label">
                <input id="senha" type="password" class="form-control mt-1" required minlength="8" maxlength="12"
                    formControlName="senha">
                    <label for="senha">Senha</label>
                </span>

                <div class="checkbox mb-3 mt-1">
                    <label>
                        <p-checkbox type="checkbox" value="remember-me"></p-checkbox> Lembre de mim
                    </label>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>

                <div>
                    <a routerLink="/cadastre-se" id="cadastro">Não é cadastrado ? Cadastre-se agora !</a>
                </div>

                <div>
                    <a routerLink="/recuperar-senha" id="cadastro">Esqueceu sua senha ? Recupere ela aqui !</a>
                </div>
            </form>
        </div>
    </div>
</div>