<div class="container-fluid">
    <div class="row ">
        <div class="col">
            <img id="fotoFixa" src="../../../assets/images/imagem-show.jpg" alt="Imagem principal">
        </div>
        <div class="col">
            <header id="LogoPrincipal" class="d-flex justify-content-center">
                <a href="/home"><img src="../../../assets/images/logoWig.png" alt="LogoPrincipal" width="350px"></a>
            </header>
            <form id="form-signin" (ngSubmit)="login()" [formGroup]="formLogin">
                <h1 class="h3 mb-3 font-weight-normal text-center">Faça seu login</h1>

                
                <input type="email" class="form-control mb-2" placeholder="Email" required minlength="15"
                    maxlength="35" autofocus="" formControlName="email">

              
                <input type="password" class="form-control" placeholder="Senha" required minlength="8" maxlength="12"
                    formControlName="senha">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembre de mim
                    </label>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>

                <div>
                    <a routerLink="/cadastre-se" id="cadastro">Não é cadastrado ? Cadastre-se agora !</a>
                </div>

                <div>
                    <a routerLink="/recuperar-senha" id="cadastro">Esqueceu sua senha ? Recupere ela aqui !</a>
                </div>
            </form>
        </div>
    </div>
</div>