<app-nav-relatorios></app-nav-relatorios>

<div id="estrutura" class="container-fluid row">
<app-menu-relatorios></app-menu-relatorios>
<div class="card col-9">
    <h3 class="card-header text-center font-weight-bold text-uppercase">Relatórios</h3>
      <div id="table" class="table-editable">
        <span class="table-add float-right"><a href="#!" class="text-success"><i
              class="fas fa-plus" aria-hidden="true"></i></a></span>
              <select class="custom-select" multiple>
                <option selected></option>
                <option value="1">Importar</option>
                <option value="2">Exportar</option>
              </select>
              <br>
              <br>
              <div class="input-group"whidt="50px">
                <div class="input-group-prepend">
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Download do arquivo</label>
                </div>
              </div>
       
      </div>
    </div>
  </div>
