body{
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: inline-block;
    text-align: center;
}

#LogoPrincipal{
    margin-top: 40px;
    width: auto;
    height: 15vh;

}

#fotoFixa{
    background-image: url(/screens/images/tentativa2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 10px;
    padding: 0;
    width:40vw;
    height:95vh;
}

.cpf{
    width: 160px;

}

.button{
    background-color:#006172;
    color: #fff;
    border: none;
    height: 31px;
    cursor: pointer;
}
#form-signin{
    align-items: center;
    padding: 10px;
   
}

input {
    background-color: rgba(250, 247, 249, 0.692);
}

.formgroup{
    background: rgba(250, 247, 249, 0.692);

}

@media only screen and (max-width: 800px) {

    #fotoFixa {
        width: 90vw;
        height: 50vh;
        padding: 0px;
    }
}
