<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img id="fotoFixa" src="../../../assets/images/imagem-show.jpg" alt="Imagem principal">
        </div>
        <div class="col">
            <div id="Cadastre-se">
            </div>
            <div class="d-flex justify-content-center" id="LogoPrincipal">
                <a href="/home"><img src="../../../assets/images/logoWig.png" alt="LogoPrincipal" width="300px"></a>
            </div>
            <div id="Titulo" class="p-2">
                <h1 class="h3 mb-3 mt-4 ml-2 font-weight-normal">
                    Cadastre-se
                </h1>
            </div>
            <form class="col formulario" [formGroup]="formCliente" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" (keypress)="permitirLetras($event)" formControlName="nome"
                        placeholder="Seu nome Completo" required maxlength="35">
                </div>
                <div class="form-group">
                    <select class="form-control formgroup" id="sexo">
                        <option selected disabled value="">Sexo</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="text" class="form-control" (keypress)="permitirNumeros($event)"
                            formControlName="cpf" placeholder="Seu CPF" required>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" (keypress)="permitirNumeros($event)"
                            formControlName="telefone" placeholder="Seu telefone" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="Seu email" required>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="password" class="form-control" formControlName="senha" placeholder="Senha"
                            required>
                    </div>
                    <div class="col-6">
                        <input type="password" class="form-control" placeholder="Confirme sua senha" required
                            formControlName="segundaSenha">
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="termos" required> Eu aceito os termos de uso.
                    </label>
                </div>
                <button class="btn btn-lg btn-info btn-block mb-3" id="btn-cadastrar">Cadastrar</button>
            </form>
        </div>
    </div>
</section>