<app-nav-relatorios></app-nav-relatorios>
<div class="container-fluid row">
    <div class="col-md-2 p-0">
        <app-menu-relatorios></app-menu-relatorios>
    </div>
    <div class="col-md-9">
        <h3 class="card-header text-center font-weight-bold text-uppercase">Cadastro de produtos</h3>
        <p-table #dt [columns]="cols" [value]="produtos" [paginator]="true" [rows]="6" [filterDelay]="0"
            [globalFilterFields]="['codProduto','descricao']">
            <ng-template pTemplate="caption">
                Gerenciamento de estoque
                <div class="ui-table-globalfilter-container">
                    <input type="text" pInputText placeholder="O que procura?"
                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="codProduto">Código<p-sortIcon field="codProduto"></p-sortIcon>
                    </th>
                    <th>Produto</th>
                    <th pSortableColumn="descricao">Nome<p-sortIcon field="descricao"></p-sortIcon>
                    </th>
                    <th pSortableColumn="valorProduto">Preço uni.<p-sortIcon field="valorProduto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="categoria.descricao">Categoria<p-sortIcon field="categoria.descricao">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="qtdProduto">Quantidade<p-sortIcon field="qtdProduto"></p-sortIcon>
                    </th>
                    <th>Editar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-produtos>
                <tr class="ui-selectable-row">
                    <td class="text-center">{{produtos.codProduto}}</td>
                    <td class="text-center"><img src="{{produtos.imagens[0].local}}" width="30px"></td>
                    <td class="text-center">{{produtos.descricao}}</td>
                    <td class="text-center">{{produtos.valorProduto.toLocaleString('pt-BR', formato)}}</td>
                    <td class="text-center">{{produtos.categoria.descricao}}</td>
                    <td class="text-center">{{produtos.qtdProduto}}</td>
                    <td class="text-center">
                        <img class="editar" src="../../../../assets/images/edit.svg" alt="" width="20px"
                            >
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()"
                        label="Adicionar produto"></button>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Adicionar produto" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '500px'}">
    <app-cadastro-produto (produtoCadastrado)="receberProduto($event)"></app-cadastro-produto>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>