<app-nav-relatorios></app-nav-relatorios>

<div class="container-fluid">
  <h1>Cupons de Desconto</h1>
  <div id="content" class="container">

    <div *ngFor="let cupom of cupons">
      <div class="border border-success bg-light">
        <h5>{{cupom.nome}}</h5>
        <p>{{cupom.desconto}}%</p>
        <p>{{cupom.ativo}}</p>
        <hr>
        <h6>Ativar este cupom?</h6>
        <div class="btn-group d-inline-block" width="100%">
          <button type="button" class="btn btn-primary" (click)="ativarCupom()">Ativar</button>
          <button type="button" class="btn btn-danger" (click)="desativarCupom()">Desativar</button>
        </div>
      </div>

    </div>
  </div>
</div>