<app-nav-relatorios></app-nav-relatorios>

<div class="row p-0">
<app-menu-relatorios></app-menu-relatorios>
<div class="card col-10">
    <h3 class="card-header text-center font-weight-bold text-uppercase">Painel Fale Conosco</h3>
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-2 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus" aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Nome Completo</th>
              <th class="text-center">Telefone</th>
              <th class="text-center">E-mail</th>
              <th class="text-center">Mensagem</th>
              <th class="text-center">Assunto da Mensagem</th>
              <th class="text-center">Resposta da mensagem</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                      aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                      aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-success btn-rounded btn-sm my-0">Responder</button></span>
              </td>
            </tr>

            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                      aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                      aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-success btn-rounded btn-sm my-0">Responder</button></span>
              </td>
            </tr>

            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                      aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                      aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-success btn-rounded btn-sm my-0">Responder</button></span>
              </td>
            </tr>

            <tr class="hide">
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                      aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                      aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-success btn-rounded btn-sm my-0">Responder</button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

