
::-webkit-scrollbar {
    width: 13px;

}


::-webkit-scrollbar-track {
    background: #c4c1c1;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0)
}
