<div class="row container">
    <div class="col-xs-12">
        <div class="logo">
            <img id="exemplo" class="img-responsive" src="images/logo.png" alt="logo" title="Wig's House">
        </div>
    </div>
</div>


<div class="row container-fluid">
    <div class="col-xs-6">
        <a href="index.html">
            <img class="login" src="img/images.png" alt="login">
            <p id="login" class="caption">Login</p>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="Checkout.html">
            <img class="carrinho" src="img/carrinho-de-compras.png" alt="carrinho">
            <p id="carrinho" class="caption">Carrinho</p>
        </a>
    </div>
</div>
