<div id="institucional" class="container">
<div class="jumbotron">
    <div class="mb-1">
        <div class="col-10">
            <h1>Quer doar uma peruca para o Hospital do Câncer?</h1>
            <em>Nós te ajudamos!</em>
            <P><strong>Primeiro:</strong>A doação é um valor fixo de 49,90.</P>
            <p><strong>Segundo:</strong>Nosso catálogo é disponibilizado para os pacientes escolherem a que mais gostarem!</p>
            <p><strong>Terceiro:</strong> Tudo isso , simplesmente clicando no botão "Quero doar".</p>
            <h6> Pronto Você acabou de ajudar uma criança!!!</h6>
        </div>
    </div>
<div class="mt-1">
    <app-carrossel-doacao></app-carrossel-doacao>
</div>
    
</div>
</div>

