<div id="institucional" class="container">
<div class="jumbotron">
    <div>
        <div class="col-10">
            <h1>Quer doar uma peruca para o Hospital do Câncer?</h1>
            <em>Nós te ajudamos!</em>
            <P><strong>Primeiro:</strong> Você deve escolher a peruca que mais gostou!</P>
            <p><strong>Segundo:</strong> As nossas perucas possuem x por cento de desconto, você pode fazer uma criança feliz sem gastar muito!</p>
            <p><strong>Terceiro:</strong> Coloque-a no carrinho clicando no botão "Quero doar".</p>
            <h6> Pronto Você acabou de ajudar uma criança!!!</h6>
        </div>
    </div>
</div>
</div>

