<div id="institucional" class="container-fluid m-4 ml-4">
    <div class="row jumbotron">
        <div class="col-12">
            <strong>Quer doar uma peruca para o Hospital da Criança com Câncer?</strong><br>
            <em>Nós te ajudamos!</em>
            <P> Primeiro: Você deve escolher a peruca que mais gostou!</P>
            <p> Segundo: As nossas perucas possuem x por cento de desconto, você pode fazer uma criança feliz sem gastar muito!</p>
            <p> Terceiro: Coloque-a no carrinho clicando no botão "Quero doar".</p>
            <h6> Pronto Você acabou de ajudar uma criança!!!</h6>
        </div>
    </div>
</div>