<header>
    <app-nav-checkout></app-nav-checkout>
</header>

<main class="container">
    <form class="row dados center" id="checkout" method="POST">
        <div class="col-md-6">
            <div class="card-header bg-info text-light">
                <img src="../../../../assets/images/caixa-de-correio.png" alt="" srcset="" width="25" height="25">
                <b class="p-4 font-weight-bolder">Dados de Entrega</b>
            </div>
            <app-endereco [endereco]="enderecoPrincipal"></app-endereco>
            <a class="btn btn-primary text-light mt-2" (click)="abrirModal(listaEnderecos)">Alterar endereço</a>
            <app-forma-envio></app-forma-envio>
        </div>
        <div class="col-md-6">
            <div class="card-header bg-info text-light">
                <img src="../../../../assets/images/caixa-de-correio.png" alt="" srcset="" width="25" height="25">
                <b class="p-4 font-weight-bolder">Dados de Entrega</b>
            </div>
            <app-dados-pagamento></app-dados-pagamento>
        </div>
    </form>
</main>

<ng-template #novoEndereco>
    <app-cadastro-endereco (novoEndereco)="cadastrarEndereco($event)"></app-cadastro-endereco>
</ng-template>

<ng-template #listaEnderecos>
    <div class="lista-enderecos d-flex flex-column">
        <div class="card ng-scope text-center sticky-top">
            <h5 class="card-header">Escolha o endereço</h5>
        </div>
        <a *ngFor="let item of enderecos" (click)="mudarEndereco(item)">
            <app-endereco [endereco]="item"></app-endereco>
        </a>
        <div class="text-center mt-2 mb-3">
            <button class="btn btn-success" (click)="abrirModal(novoEndereco)">Cadastrar novo endereço</button>
        </div>
    </div>
</ng-template>

<app-footer></app-footer>