<!-- Navbar do site em telas grandes -->
<div id="navbar-produto" class="row container-fluid bg-info">
    <ul class="nav justify-content-end col-xs-12">
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Lisos</button>
        </li>
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Cacheados</button>
        </li>
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Crespos</button>
        </li>
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Ondulados</button>
        </li>
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Naturais</button>
        </li>
        <li class="nav-item col-lg-2 col-md-3 col-xs-12">
            <button class="botao btn btn-basic nav-link" href="#">Cosplay</button>
        </li>
    </ul>
</div>
