<div class="container-fluid mt-3 d-flex">
    <div id="productTable" class="row col-md-8 col-sm-12">
        <table class="table table-hover text-center p-3 overflow-auto">
            <thead id="headerTable" class="col-8">
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="conteudoProduto" class="d-flex">
                        <img class="peruca" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" width="50px" alt="produto">
                        <p>Peruca Longa Loiro Acinzentado</p>
                    </td>
                    <td id="conteudoProduto" class="d-flex">
                        <img class="peruca" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" width="50px" alt="produto">
                        <p>Peruca Longa Loiro Acinzentado</p>
                    </td>
                    <td id="conteudoProduto" class="d-flex">
                        <img class="peruca" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" width="50px" alt="produto">
                        <p>Peruca Longa Loiro Acinzentado</p>
                    </td>
                    <td id="conteudoProduto" class="d-flex">
                        <img class="peruca" src="../../../../assets/images/produtos - perucas/000 - frente.jpg" width="50px" alt="produto">
                        <p>Peruca Longa Loiro Acinzentado</p>
                    </td>
                    
                    <td>
                    <select class="form-control select__quantity">
                    <option value="0" label="0"> 0 </option>
                    <option value="1" label="1"> 1 </option><option value="2" label="2"> 2 </option>
                    <option value="3" label="3"> 3 </option><option value="4" label="4"> 4 </option>
                    <option value="5" label="5"> 5 </option><option value="6" label="6"> 6 </option>
                </select>
            </td>
            <td>
                <strong>R$  200,00</strong>
            </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">

        <div id="card" class="jumbotron jumbotron-fluid p-3">
            <h2 id="subtotal">Resumo do Pedido:</h2>
        </div>
        <table class="table table-hover table-borderless">
        <tbody>
            <tr>
                <td>1 Produto</td>
                <td>R$ 2.000,00</td>
            </tr>
            <tr>
                <td>Frete :</td>
                <td>Grátis</td>
            </tr>
        </tbody>
    </table>
<div>

    <hr>
    <strong>TOTAL:</strong>
    <td>em até 6x sem juros</td>
    <p>R$ 2000,00 em 1x no cartão de Crédito</p>
    <button type="submit" class="btn btn-success btn-block">Continuar</button>
    </div>
</div>
</div>