#formulario{
    width: 99vw;
    margin-top: 10px;
    margin-left: 100px;
    color: rgb(182, 181, 181);
    text-align: center;

}
h1{
    font-size:40px;
    color: gray;
}
#logo{
    margin-top: 10px;
    margin-left: 400px;
}